<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-3">Register</h1>
      <h6 class="card-subtitle mb-2 text-muted">Participate in our quiz!</h6>
      <form class="needs-validation" novalidate #registerForm="ngForm">
        <div class="form-row justify-content-md-center">
          <div class="col-md-6 mb-3">
            <!-- First Name -->
            <label for="validationCustom01">First name</label>
            
            <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" id="validationCustom01" placeholder="First name" value="Mark"
              required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <!-- Last Name -->
        <div class="form-row justify-content-md-center">
          <div class="col-md-6 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName" id="validationCustom02" placeholder="Last name" value="Otto"
              required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <!-- Email -->
        </div>
        <div class="form-row justify-content-md-center">
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend"><i class="far fa-envelope"></i></span>
              </div>
              <input type="text" class="form-control" name="Email" [(ngModel)]="email" id="email" [pattern]="emailPattern" placeholder="Email"
                aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please enter a valid email.
              </div>
            </div>
            <div class="form-group mt-2">
                    <label for="exampleFormControlSelect1">Select Difficulty</label>
                    <select class="form-control" name="difficulty" [(ngModel)]="difficulty" id="exampleFormControlSelect1" required>
                      <option>easy</option>
                      <option>medium</option>
                      <option>hard</option>
                    </select>
                  </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <!-- button to getQuestions method -->
            <button (click)="onSubmitForm()" class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Submit form</button>
          </div>          
        </div>
        
    </form>

    </div>
  </div>
</div>
